@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-shift {
  background-size: 200% 200%;
  animation: gradient-shift 10s ease infinite;
}

@keyframes snowfall {
  0% {
    transform: translateY(-10vh) translateX(0);
  }
  100% {
    transform: translateY(100vh) translateX(20px);
  }
}

.snow {
  position: absolute;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  left: var(--left);
  animation: snowfall 5s linear infinite;
  animation-delay: var(--delay);
  opacity: 0.7;
  filter: blur(1px);
}
