name: CI

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    name: Build and Test
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    env:
      NODE_ENV: test
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.VERCEL_ID }}
      NEXT_TELEMETRY_DISABLED: 1
      TURBO_TELEMETRY_DISABLED: 1
    # services:
    #   postgres:
    #     image: postgres:17@sha256:6cf6142afacfa89fb28b894d6391c7dcbf6523c33178bdc33e782b3b533a9342
    #     env:
    #       POSTGRES_PASSWORD: postgres
    #     options: >-
    #       --health-cmd pg_isready
    #       --health-interval 1s
    #       --health-timeout 5s
    #       --health-retries 10
    #     ports:
    #       - 5432:5432
    #   redis:
    #     image: redis:alpine@sha256:48501c5ad00d5563bc30c075c7bcef41d7d98de3e9a1e6c752068c66f0a8463b
    #     options: >-
    #       --health-cmd "redis-cli ping"
    #       --health-interval 1s
    #       --health-timeout 5s
    #       --health-retries 10
    #     ports:
    #       - 6379:6379
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 2

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Setup Node.js environment
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 22
          cache: pnpm

      - uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3
        with:
          project_id: homelab-ng
          workload_identity_provider: projects/629296473058/locations/global/workloadIdentityPools/homelab/providers/github

      # - name: Prepare db & env files
      #   env:
      #     PGPASSWORD: postgres
      #     POSTGRES_USER: postgres
      #     POSTGRES_PASSWORD: postgres
      #     POSTGRES_MULTIPLE_DATABASES: wishlist
      #   run: |
      #     ./.github/scripts/create-multiple-postgresql-databases.sh
      #     find . -type f -name '.env.example' -execdir cp -v {} .env \;

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Test
        run: pnpm test
